<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
    <style>
        form * {
            margin: 0.15em;
        }
    </style>
</head>

<body>
    <h1>Add A Product</h1>
    <form action="/products" method="POST">
        <label for="name">Product Name:</label>
        <input id="name" type="text" name="name"><br>
        <label for="price">Price (Unit):</label>
        <input id="price" type="number" name="price"><br>
        <label for="category">Select Category:</label>
        <select name="category" id="category">
            <% for(let category of categories) {%>
            <option value="<%= category %>"><%= category %></option>
            <% } %>
        </select><br>
        <button>Submit</button>
        <button><a href="/products">Cancel</a></button>
    </form>
</body>

</html>